<app-navigation-bar></app-navigation-bar>

<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Total: 20 countries</a>
  </nav>
</header>

<main>
  <div class="banner">
    <h1>Welcome to My BeenTo</h1>
  </div>

  <div *ngIf="(selectedCountry$ | async) as selectedCountry">
    <h2>Selected Country: {{ selectedCountry.name }}</h2>
    <p>Login: {{ selectedCountry.login }}</p>
    <p>Password: {{ selectedCountry.password }}</p>
  </div>
  <app-map></app-map>

  <!-- <div class="auth-section">
      <router-outlet></router-outlet>
    </div> -->
</main>