<app-navigation-bar></app-navigation-bar>

<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Total: 20 countries</a>
  </nav>
</header>

<div>
  <h1>Countries</h1>
  <ul>
    <li *ngFor="let country of countries$ | async">{{ country }}</li>
  </ul>
  <button (click)="addCountry('USA')">Add USA</button>
</div>

<main>
  <div class="banner">
    <h1>Welcome to My BeenTo</h1>
  </div>
  
  <app-country-list></app-country-list>
  <app-map></app-map>
</main>

